body {
  margin: 0;
  font-family:Segoe UI,Segoe WP,Arial,Sans-Serif
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(180deg, #203580 0px, #443E73 60px, #443A66 300px, #27284F 600px, #171E44 1000px);
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
